@font-face {
    font-family: "PTSans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
  
@font-face {
    font-family: "PTSans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
  
body {
    font-family: "PTSans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    color: #333333;
    background-color: #FFFFFF;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;    
}

.page-header {
    color: #000000;
    font-size: 20px;
    line-height: 26px;
    font-style: normal;
    font-weight: 700;
}

/* Навигация */
.navigation-link {
    text-decoration: none;
}
.navigation-button {
    font-size: 16px;
    line-height: 21px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.welcome {
    width: 1200px;
    height: 485px;
    background:
    url("../images/welcome.png") no-repeat  371px 51px,
    url("../images/index-background-top-layer.svg") repeat-x 0 428px,
    url("../images/index-background.jpg");
   
}

.tagline {
    text-align: center;
}

.tagline-title {
    margin-top: 63px;
}

.title-h2 {
    font-size: 30px;
    line-height: 36px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;

}

.tagline-description {
   /* font-size: 22px;
    line-height: 36px;
    font-style: normal;
    font-weight: 400; */
    margin-top: 23px;
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.advantages-title-white {
    color: #ffffff;
}

.advantages-number, .advantages-description {
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
}

.advantages-number-white, .advantages-description-white {
    color: #ffffff;
}

.hotel-search {
    text-align: center; 
}

.hotel-search-button {
    font-family: "PTSans", sans-serif;
    font-size: 20px;
    line-height: 36px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
}

.subscribe {
    width: 1200px;
    height: 411px;
    text-align: center;    
    background-image: url("../images/background-subscribe.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;    
}

.subscribe-title {
    font-size: 30px;
    line-height: 36 px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 94px;
}

.subscribe-description {
    font-family: "PTSans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    padding-top: 15px;
}

.main-inner {
    background-image: url("../images/catalog-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.page-title {
    font-family: "PTSans", sans-serif;
    font-size: 60px;
    line-height: 78px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    padding-left: 71px;
    padding-top: 35px;
}

.breadcrumbs-link-current {
    font-family: "PTSans", sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
}

.filter-hotels {
    background-color: black; /* Временно установил background-color что бы видеть на его фоне белый текст */
}

.catalog-filter-title {
    font-family: "PTSans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
}

.control-label {
    font-family: "PTSans", sans-serif;
    font-size: 18px;
    line-height: 23px;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
}

.filter-apply {
    font-family: "PTSans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase; 
}

.filter-reset {
    font-family: "PTSans", sans-serif;
    font-size: 18px;
    line-height: 23px;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
}

.result {
    font-family: "PTSans", sans-serif;
    font-size: 30px;
    line-height: 39px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.button-load-more {
    font-family: "PTSans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.footer-contakt-tel-link {
    font-family: "PTSans", sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}