@font-face {
    font-family: "PTSans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
  
@font-face {
    font-family: "PTSans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
 
html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PTSans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    color: #333333;
    background-color: #FFFFFF;    
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}

/* Кнопки */
.button {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.button-navigation {
    color: #ffffff;
    background-color: #756257;
}

.button-hotel-search {
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    background-color: #756257; 
}

.button-subscribe-form {
    font-size: 20px;
    color: #ffffff;
    background-color: #83B3D3;    
}

.button-filter-apply {
    color: #ffffff;
    background-color: #83B3D3;
}

.button-filter-reset {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: #ffffff;
    text-transform: none;    
}

.button-details {
    color: #ffffff;
    background-color: #756257;
}

.button-to-favorites {
    color: #ffffff;
    background-color: #83B3D3;
}

.button-in-favorites {
    color: #ffffff;
    background-color: #7DB54F;
}

.button-load-more {
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    background-color: #83B3D3;
}

.page-header {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

/* Навигация */
.navigation {
    display: flex;
    width: 1200px;
    justify-content: space-around;
    margin: 0 auto;  
}

.navigation-list {
    width: 531px;
    margin: 0;
    padding: 0;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}  

.navigation-link {
    text-decoration: none;
    color: #000000;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}

.main-container {
    flex-grow: 1;
}
      
.welcome {
    width: 1200px;
    height: 485px;
    background:
    url("../images/welcome.svg") no-repeat  371px 51px,
    url("../images/index-background-top-layer.svg") repeat-x 0 428px,
    url("../images/index-background.jpg");   
}

.tagline {
    text-align: center;
}

.tagline-title {
    margin-top: 63px;
}

.title-h2 {
    font-size: 30px;
    line-height: 36px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.tagline-description {
    line-height: 36px;
    font-style: normal;
    font-weight: 400;
    margin-top: 23px;
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.advantages-title-white {
    color: #ffffff;
}

.advantages-number, .advantages-description {
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
}

.advantages-number-white, .advantages-description-white {
    color: #ffffff;
}

.advantages-additional-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.hotel-search {
    text-align: center; 
}


.subscribe {
    width: 1200px;
    height: 411px;
    text-align: center;    
    background-size: 100% auto;
    background-image: url("../images/background-subscribe.jpg");
    background-repeat: no-repeat;
    background-color: #000000;    
}

.subscribe-title {
    font-size: 30px;
    line-height: 36 px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 94px;
}

.subscribe-description {
    font-size: 22px;
    color: #ffffff;
    padding-top: 15px;
}

.subscribe-inner {
    text-align: center;    
}

.subscribe-form-field::placeholder { 
    color: rgba(0,0,0, 0.6);
}

.subscribe-form-field {
    color: rgba(0,0,0, 0.6);
}  

.page-inner {
    color: #000000;
}

.main-inner {
    background-image: url("../images/catalog-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.page-title {
    font-size: 60px;
    line-height: 78px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    padding-left: 71px;
    padding-top: 35px;
}

.breadcrumbs-link-current {
    font-size: 16px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
}

.filter-hotels {
    background-color: black; 
}

.catalog-filter-title {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

.control-label {
    font-size: 18px;
    line-height: 23px;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
}

.result {
    font-size: 30px;
    line-height: 39px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.hotel-card-title {
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    color: #000000;
}

.hotel-card-title-link {
    text-decoration: none;
}

.hotel-card-type, 
.hotel-card-price,
.amount-hotels {
    font-size: 18px;
    line-height: 23px;    
}

.rating {
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    text-transform: uppercase;
}

.pagination-link {
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
  
.pagination-current {
    color: #000000;
    background-color: #f2f2f2;
}
  
.footer-contakt-tel-link {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}