@font-face {
    font-family: "PTSans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
  
@font-face {
    font-family: "PTSans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
 
html {
    height: 100%;
}
.container-shadow {    
    margin-left: auto; 
    margin-right: auto; 
    padding: 0; 
    width: 1280px;
    background-color: #E5E5E5;   
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}

body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "PTSans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    color: #333333;
    background-color: #FFFFFF;    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Кнопки */
.button {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.button-navigation {
    color: #ffffff;
    background-color: #756257;
}

.button-hotel-search {
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    background-color: #756257; 
}

.button-subscribe-form {
    font-size: 20px;
    color: #ffffff;
    background-color: #83B3D3;    
}

.button-filter-apply {
    color: #ffffff;
    background-color: #83B3D3;
}

.button-filter-reset {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: #ffffff;
    text-transform: none;    
}

.button-details {
    color: #ffffff;
    background-color: #756257;
}

.button-to-favorites {
    color: #ffffff;
    background-color: #83B3D3;
}

.button-in-favorites {
    color: #ffffff;
    background-color: #7DB54F;
}

.button-load-more {
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    background-color: #83B3D3;
}

.page-header {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

/* Навигация */
.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;  
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 531px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}  

.navigation-link {
    display: block;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 26px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #000000;    
}

.navigation-user {
    text-align: right;
}

.main-container {
    flex-grow: 1;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}
      
.welcome {
    width: 1200px;
    height: 485px;
    background:
    url("../images/welcome.svg") no-repeat  371px 51px,
    url("../images/index-background-top-layer.svg") repeat-x 0 428px,
    url("../images/index-background.jpg");
}

.tagline {
    text-align: center;
    background-color: #FFFFFF;
}

.tagline-title {
    margin-top: 63px;
}

.title-h2 {
    font-size: 30px;
    line-height: 36px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.tagline-description {
    line-height: 36px;
    font-style: normal;
    font-weight: 400;
    margin-top: 23px;
}
.advantages-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    
}
.advantages-title {
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.advantages-item-town,
.advantages-item-bridge {
    width: 1200px;
    background-color: #83B3D3;
}

.advantages-item-area,
.advantages-item-tourist {
    width: 400px;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
    width: 400px;
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title-white {
    color: #ffffff;
}

.advantages-number, .advantages-description {
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
}

.advantages-number-white, .advantages-description-white {
    color: #ffffff;
}

.advantages-additional-list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}

.adv-add-item-housing,
.adv-add-item-souvenirs {
    width: 400px;
    background-color: rgba(131, 179, 211, 0.12);
    ;
}

.adv-add-item-food  {
    width: 400px;
    background-color: #ffffff;
}

.advantages-additional-title {    
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.hotel-search {
    text-align: center; 
    background-color: #FFFFFF;
    margin: 0 auto;
}


.subscribe {
    width: 1200px;
    height: 411px;
    text-align: center;    
    background-size: 100% auto;
    background-image: url("../images/background-subscribe.jpg");
    background-repeat: no-repeat;
    background-color: #000000;    
}

.subscribe-title {
    font-size: 30px;
    line-height: 36 px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 94px;
}

.subscribe-description {
    font-size: 22px;
    color: #ffffff;
    padding-top: 15px;
}

.subscribe-inner {
    text-align: center;    
}

.subscribe-form-field::placeholder { 
    color: rgba(0,0,0, 0.6);
}

.subscribe-form-field {
    color: rgba(0,0,0, 0.6);
}  

.page-inner {
    color: #000000;
}

.main-inner-bg {
    background-image: url("../images/catalog-background.jpg");
    width: 1200px;
    background-repeat: no-repeat;
}

.page-title {
    font-size: 60px;
    line-height: 78px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    padding-left: 71px;
    padding-top: 35px;
}

.breadcrumbs-link-current {
    font-size: 16px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
}

.form-filter-hotels-container {
    display: flex;
  }

.filter-hotels {
    background-color: black; 
}

.catalog-filter-title {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

.control-label {
    font-size: 18px;
    line-height: 23px;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
}

.result {
    font-size: 30px;
    line-height: 39px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.hotel-card-title {
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    color: #000000;
}

.hotel-card-title-link {
    text-decoration: none;
}

.hotel-card-type, 
.hotel-card-price,
.amount-hotels {
    font-size: 18px;
    line-height: 23px;    
}

.rating {
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    text-transform: uppercase;
}

.pagination-link {
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
  
.pagination-current {
    color: #000000;
    background-color: #f2f2f2;
}

.page-footer {
    background-color: #FFFFFF;
    width: 1200px;
    margin: 0 auto;
}

.page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;  
    
}

.footer-social {
    width: 240px;
    height: 120px;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;    
}

.footer-social-list {
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px; 
}

.footer-social-item {
    width: 40px;
    height: 40px;    
}

.footer-contakt-tel {
    width: 720px;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;  
}

.html-academy {
    width: 240px;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}

.html-academy-logo {
    display: block;
    width: 115px;
    height: 33px;
    margin-top: 42px;
    margin-bottom: 44px;
    margin-left: 53px;
    
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}

.footer-contakt-tel-link {
    display: block;
    width: 720px;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-align: center;
}